* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
    font-size:62.5%; 
}
body{
	height: 100%;
    background: #fff;
    font-size: 3rem;
}
ul, ol {
	list-style: none;
}

i {
	 font-style: normal;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.main {
	text-align: center;
	padding-bottom: 10rem;
	height: 100%;
}
 .main > li {
	display: none;
}
 .main > li.active {
 	display: block;
 }
.home-page {
	height: 100%;
	overflow: hidden;
}
.home-page iframe {
	width: 100%;
	height: 100%;
}
.wifi-page {
	height: 100%;
	overflow: auto;
	padding-top: 9rem;
}
.wifi-page .status {
    min-height: 88px;
	color: #666;
	padding: 2rem 0;
}
.wifi-page > button {
	width: 32rem;
	height: 32rem;
	font-size: 4rem;
	background: #fff;
	border: 0.1rem solid #30BBF2;
	border-radius: 32rem;
	outline: none;
	color: #30BBF2;
	cursor: pointer;
}
.wifi-page > button.active {
    -webkit-animation: btn-active 1.5s infinite ease;
    -moz-animation: btn-active 1.5s infinite ease;
    -ms-animation: btn-active 1.5s infinite ease;
    -o-animation: btn-active 1.5s infinite ease;
    animation: btn-active 1.5s infinite ease;
}
@keyframes btn-active {
	0%   {opacity: 1}
	25%  {opacity: 0.7}
	50%  {opacity: 0.4}
	75%  {opacity: 0.7}
	100% {opacity: 1}
} 
@-webkit-keyframes btn-active {
	0%   {opacity: 1}
	25%  {opacity: 0.7}
	50%  {opacity: 0.4}
	75%  {opacity: 0.7}
	100% {opacity: 1}
}
.wifi-page > button > .iconfont {
	font-size: 20rem;
}
.user-page {
	height: 100%;
	overflow: hidden;
}
.user-page iframe {
	width: 100%;
	height: 100%;
}

.footer {
	width: 100%;
	height: 10rem;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #fff;
	padding: 1rem 0;
	border-top: 0.1rem solid #ddd;
	text-align: center;
	font-size: 0;
	z-index: 1;
}
.footer li {
	position: relative;
	float: left;
	width: 33.333%;
	color: #666;
	font-size: 6rem;
	cursor: pointer;
}
.footer li > * {
	position: relative;
	z-index: -1;
}
.footer li > p {
	font-size: 3rem;
}
.footer li.active {
	color: #30BBF2;
}


@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1488354887632');
  src: url('../fonts/iconfont.eot?t=1488354887632#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff?t=1488354887632') format('woff'),
  url('../fonts/iconfont.ttf?t=1488354887632') format('truetype'),
  url('../fonts/iconfont.svg?t=1488354887632#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: "\e784"; }

.icon-user:before { content: "\e7ec"; }

.icon-wifi:before { content: "\e894"; }